html,
body {
  margin: 0;
  padding: 0;
}

#test-three {
  overflow: hidden;
}

#test-three canvas {
  display: block;
}

#mouse-mask {
  overflow: hidden;
}

#mouse-mask canvas {
  display: block;
}

